Pillow
beepy
telethon
colorlog==4.0.2
SQLAlchemy>=1.2.12
requests>=2.20.0
flask>=1.0.2
cython
protobuf>=3.6.1
pyocr>=0.7.2
geopy>=1.22.0
cyrandom>=0.3.0
s2sphere>=0.2.5
Shapely>=1.7.0
pynput>=1.7.1
PyYAML>=5.1
opencv-python>=4.4.0.42
numpy>=1.19.1
imutils==0.5.3
uiautomator2
sourcedefender
protobuf